<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="web.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <section class="main-container">
    <div>
      <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/logo/logo.png.webp" class="image">

    </div>
    <div>
      <ul>
        <li>HOME</li>
        <li>SHOP</li>
        <li>ABOUT</li>
        <li>BLOG</li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="logo">
      <button type="button" class="icon"> <i class="fa fa-twitter" style="font-size: 17px;"></i></button>
      <button type="button" class="icon"> <i class="fa fa-facebook-f" style="font-size: 17px;"></i></button>
      <button type="button" class="icon"><i class="fa fa-pinterest" style="font-size: 17px;"></i></button>
    </div>
    <div>
      <button class="search-icon"><i class="fa fa-search" style="font-size: 17px;"></i></button>
    </div>
    <div class="bag-icon">
      <button><i class='fas fa-shopping-bag'></i></button>
      0
    </div>
  </section>
  <section class="image-content">
    <div class="text-format">
      <h1 style="margin-top: -90px;">FASHION</h1>
      <h1 style="margin-top:-90px;">CHANGING</h1>
      <h1 style="margin-top: -90px;">ALWAYS</h1>
    </div>
    <button type="button" class="buttons">Shop Now</button>
  </section>

  <section class="main-content">
    <div class="inner-container">
      <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/popular1.png.webp" height="368px"
        width="289px">
      <button type="button" class="button-container">Shop Now</button>

    </div>
    <div class="inner-container">
      <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/popular2.png.webp" height="368px"
        width="289px">
      <button type="button" class="button-container">Shop Now</button>
    </div>
    <div class="inner-container">
      <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/popular3.png.webp" height="368px"
        width="289px">
      <button type="button" class="button-container">Shop Now</button>
    </div>
    <div class="inner-container">
      <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/popular4.png.webp" height="368px"
        width="289px">
      <button type="button" class="button-container">Shop Now</button>
    </div>


  </section>
  <section>
    <div class="titles">
      <h2>NEW<br>ARRIVAL</h2>
    </div>
    <article class="child-container">
      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival1.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival2.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival3.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival4.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

    </article>
    <article class="child-containers">
      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival5.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival6.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival7.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

      <div class="new-container">
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/arrival8.png.webp">
        <div class="cart-image">
          <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/favorit-card.png.webp">
        </div>
        <div class="image-text">Knitted Jumper</div>
        <div class="image-star">
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
          <i class="fa fa-star" style="font-size: 20px; color: #eb9e0e;"></i>
        </div>
        <div class="dollar-sign">$ 30.00</div>
      </div>

    </article>
    <div>
      <button type="button" class="browse-container"> Browse More</button>
    </div>
  </section>

  <section>
    <article class="girl-image">
      <p>COLLECTION HOUSE <br> OUR FIRST-EVER</p>
      <button type="button" class="browse-containers">About Us</button>
    </article>
  </section>

  <section class="parent-container">
    <article class="first-container"
      style="background-image: url(https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/popular-imtes1.png.webp); background-position: center; background-repeat: no-repeat;">
      <div class="para1">Established fact that by the <br> readable content</div>
      <button type="button" class="browse-containerss">Read More</button>

    </article>
    <article class="first-container"
      style="background-image: url(https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/popular-imtes2.png.webp); background-position: center; background-repeat: no-repeat;">
      <div class="para1">Established fact that by the <br> readable content</div>
      <button type="button" class="browse-containerss">Read More</button>

    </article>
  </section>

  <section class="image-contianer">
    <article class="image-new-container">
      <div>
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/icon/services1.svg"
          style="margin-top: 15px; margin-left: 45px;">
      </div>
      <div class="fast-content">Fast & Free Delivery</div>
      <div class="free-content">Free delivery on all orders</div>
    </article>
    <article class="image-new-container">
      <div>
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/icon/services2.svg"
          style="margin-top: 15px; margin-left: 45px;">
      </div>
      <div class="fast-content">Fast & Free Delivery</div>
      <div class="free-content">Free delivery on all orders</div>
    </article>
    <article class="image-new-container">
      <div>
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/icon/services3.svg"
          style="margin-top: 15px; margin-left: 45px;">
      </div>
      <div class="fast-content">Fast & Free Delivery</div>
      <div class="free-content">Free delivery on all orders</div>

    </article>
    <article class="image-new-container">
      <div>
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/icon/services4.svg"
          style="margin-top: 15px; margin-left: 45px;">
      </div>
      <div class="fast-content">Fast & Free Delivery</div>
      <div class="free-content">Free delivery on all orders</div>
    </article>

  </section>

  <section class="footer-container">
    <article class="footers-content">
      <div>
        <img src="https://preview.colorlib.com/theme/shionhouse/assets/img/logo/logo2_footer.png.webp"
          style="margin-left: 35px;">
      </div>
      <div>
        <p class="fo-content">Suspendisse varius enim in eros<br>elementum tristique. Duis<br> cursus, mi quis viverra
          ornare,<br> eros dolor interdum nulla.</p>
      </div>
      <div class="logos">
        <button type="button" class="icons"> <i class="fa fa-twitter" style="font-size: 17px;"></i></button>
        <button type="button" class="icons"> <i class="fa fa-facebook-f" style="font-size: 17px;"></i></button>
        <button type="button" class="icons"><i class="fa fa-pinterest" style="font-size: 17px;"></i></button>
      </div>
    </article>
    <article class="footer-content">
      <div class="fo-text">Quick links</div>
      <div class="foo-text">Image Licensin<br><br>
        Style Guide<br><br>
        Privacy Policy.</div>
    </article>
    <article class="footer-content">
      <div class="fo-text">Shop Category</div>
      <div class="foot-text">Image Licensin<br><br>
        Style Guide<br><br>
        Privacy Policy.</div>
    </article>
    <article class="footer-content">
      <div class="fo-text">Pertners</div>
      <div class="footer-text">Image Licensin<br><br>
        Style Guide<br><br>
        Privacy Policy.</div>
    </article>
    <article class="footer-content">
      <div class="fo-text">Get in touch</div>
      <div class="footers-text">(89) 982-278 356<br><br>
        demo@colorlib.com<br><br>
        67/A, Colorlib, Green <br>road, NYC</div>
    </article>

    <article>
      <div class="footer-bottom">Copyright ©2024 All rights reserved | This template is made with <i class="fa fa-heart"
          style="font-size: 16px; color: rgb(192, 140, 241) ;"></i> by <span
          style="color: rgb(192, 140, 241) ;">Colorlib</span> </div>

    </article>

  </section>



</body>

</html>